@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    background-color: rgb(0, 0, 137);
    height: 2.5em;
    width: 2.5em;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
}

.logo:hover {
    background-color: rgb(0, 195, 255);
}

.thewhale {
    background-color: rgb(0, 0, 137);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: rgb(190, 190, 190);
    cursor: pointer;
    margin-right: auto;
}


.navbar li, a, button {
    background-color: rgb(0, 0, 137);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: aliceblue;
    text-decoration: none;
}

.navbar ul {
    background-color: rgb(0, 0, 137);
}

.navbar {
    background-color: rgb(0, 0, 137);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 2%;

    /* background: lightblue;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out; */
}

.navbar-links {
    list-style: none;
}

.navbar-links li {
    display: inline-block;
    padding: 0 20px;
}

.navbar-links li a {
    transition: all 0.3s ease 0s;
}

.navbar-links li a:hover {
    color: rgb(0, 195, 255)
}

.navbar button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(0, 195, 255);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 169, 220, 0.8);
}

.main-page {
    background-image: url("./assets/sky.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    height: 500px;
    width: 90%;
}

.container p {
    text-align: center;
    margin: 50px 0px 5px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container button {
    background-color: rgb(0, 195, 255);
    color: aliceblue;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    height: 2em;
}

.container a {
    background-color: rgba(255, 255, 255, 0.0);
}

.container a:hover {
    cursor: default;
}

.headr {
    color: rgb(0, 0, 137);
    margin-top: 15px;
    font-family: sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}